@using System.Drawing
@model IEnumerable<TrainingsCalendar.WebUI.Models.CalendarViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col-lg-offset-5">
    <a role="button" style="margin-right: 10px" title="Previous month" href="@Url.Action("PrevMounth", new { mounth = Model.ElementAt(1).Mounth , year = Model.ElementAt(1).Year})" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
    <h2 style="display: inline-block;">@Model.ElementAt(1).Mounth @Model.ElementAt(1).Year</h2>
    <a role="button" style="margin-left: 10px" title="Next month" href="@Url.Action("NextMounth", new { mounth = Model.ElementAt(1).Mounth, year = Model.ElementAt(1).Year })" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>

<div class="col-xs-11">
    <table style="margin-left: 10px; margin-right: 20px;">

        <tr>
            <th>
                Training
            </th>
            <th>
                <pre>
                   @for (var i = 1; i <= Model.ElementAt(1).DaysInMonth; i++)
                   {
                       if (i == Model.ElementAt(1).NowDay && Model.ElementAt(1).Month == DateTime.Now.Month)
                       {<span style="padding: 0px 10px; display: inline-block;  font-size: 20px; color: red;" >@i</span>}
                       else {<span style="padding: 0px 10px; display: inline-block;">@i</span>}
                   }</pre>
            </th>
        </tr>
@foreach (var mod in Model)
{
            <tr>
                <td>
                    <p style="margin-right: 20px;">@mod.TrainingName</p>
                </td>
                <td>
                    <div class="progress">
                        <div class="progress-bar " style="-ms-opacity: 0; opacity: 0; width: @((mod.StartDate - 1) * 100 / Model.ElementAt(1).DaysInMonth)%;"></div>
                        <div class="progress-bar progress-bar-info" style="width: @((mod.EndDate - @mod.StartDate + 1) * 100 / Model.ElementAt(1).DaysInMonth)%;"></div>
                    </div>
                </td>
            </tr>
}
    </table>
</div>