@model IEnumerable<TrainingsCalendar.WebUI.Models.CalendarViewModel>
@{
    ViewBag.Title = "Index";
}

<div class="col-lg-offset-5">
    <a role="button" style="margin-right: 10px" title="Previous month" href="@Url.Action("PrevMounth", new { mounth = Model.ElementAt(1).Mounth , year = Model.ElementAt(1).Year})" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
    <h2 style="display: inline-block;">@Model.ElementAt(1).Mounth @Model.ElementAt(1).Year</h2>
    <a role="button" style="margin-left: 10px" title="Next month" href="@Url.Action("NextMounth", new { mounth = Model.ElementAt(1).Mounth, year = Model.ElementAt(1).Year })" class="btn btn-default"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>

<div class="col-xs-11">
    <table class="table table-condensed" style="margin-left: 10px; margin-right: 20px;">

        <tr>
            <th>
                Training
            </th>
            @for (var i = 1; i <= Model.ElementAt(1).DaysInMonth; i++)
            {
                if (i == Model.ElementAt(1).NowDay && Model.ElementAt(1).Month == DateTime.Now.Month && Model.ElementAt(1).Year == DateTime.Now.Year)
                {
                    <th style="color: red;border-right: 4px solid red;">@i</th>
                }
                else
                {
                    <th>@i</th>
                }
            }
        </tr>
        @foreach (var mod in Model)
        {
            <tr>
                <td>
                    <p style="margin-right: 20px;">@mod.TrainingName</p>
                </td>
                @for (var i = 1; i <= mod.DaysInMonth; i++)
                {
                    if (i >= mod.StartDate && i <= mod.EndDate)
                    {
                        if (i <= mod.NowDay && mod.Month <= DateTime.Now.Month && mod.Year <= DateTime.Now.Year)
                        {
                            if (i == mod.NowDay && mod.Month == DateTime.Now.Month && mod.Year == DateTime.Now.Year)
                            {
                                <td style="background-color: powderblue; border-right: 4px solid red;"></td>
                            }
                            else
                            {
                                <td style="background-color: powderblue;"></td>
                            }
                        }
                        else if (i > mod.NowDay && mod.Month < DateTime.Now.Month && mod.Year <= DateTime.Now.Year)
                        {
                                <td style="background-color: powderblue;"></td>
                        }
                        else
                        {
                                <td style="background-color: royalblue;"></td>
                        }
                    }
                    else if (i == mod.NowDay && mod.Month == DateTime.Now.Month && mod.Year == DateTime.Now.Year)
                    {
                        <td style="background-color: white;border-right: 4px solid red;"></td>
                    }
                    else
                    {
                        <td style="background-color: white;"></td>
                    }
                }
            </tr>
        }
    </table>
</div>